@media only screen and (max-width: 600px) {

    header{
        width: 100%;
    }

    .navbar{
        display: none;
    }

    #icons{
        display: block;
        cursor: pointer;
    }

    
    #icons::before{
        content: "\2630";
        color: black;
        font-size: 4em;
    }
    

    .navbar-bar{
        position: fixed;
        left: -100%;
        top: 5%;
        flex-direction: column;
        text-align: center;
        background-color: skyblue;
        transition: 0.3s;
    }
    .navbar-bar div{
        background-color: #04152764;
    }

    .navbar-bar div a{
        color: black;
    }

    .navbar-bar-item{
        margin: 15px 0;

    }

    .navbar-bar.active{
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: center;
        left: -46px;
        background-color: rgba(135, 207, 235, 0.489);
    }



    .section-1{
        flex-direction: column;
        padding:   2em;
        align-items: center;
        justify-content: center;
        gap: 2em;
        height: auto;
    }

    .section-1-image{
        width: 80%;
    }
    .section-1-image img{
        width: 80%;
    }
    .section-1-text{
        width: 80%;
        padding: 0;
        gap: 2em;
        
    }
    .section-1-text p{
        font-size: 1.5em;
        text-align: center;
        
    }

    .section-2-title{
        text-align: center;
        font-size: 4em;
    }
    .section-2-boxes{
        flex-direction: column;
        height: 50em;
    }

    .section-3-title{
        font-size: 4em;
    }

    .section-3-boxes{
        flex-direction: column;
    }

    .faq{
        height: 120em;
    }

    .a-opened{
        padding: 1em 1em 4em 5em;
        height: initial;
    }

    .footer-1{
        flex-direction: column;
    }

    .menu{
        flex-direction: column;
    }

    .info {
        padding-top: 2em;
    }

}