@media only screen and (max-width: 600px) {
    header{
        width: 100%;
    }

    .navbar{
        display: block;
    }

    #icons{
        display: block;
        cursor: pointer;
    }

    
    #icons::before{
        content: "\2630";
        color: black;
        font-size: 4em;
    }
    

    .navbar-bar{
        position: fixed;
        left: -100%;
        top: 5%;
        flex-direction: column;
        text-align: center;
        background-color: skyblue;
        transition: 0.3s;
    }
    .navbar-bar div{
        background-color: #04152764;
    }

    .navbar-bar div a{
        color: black;
    }

    .navbar-bar-item{
        margin: 15px 0;

    }

    .navbar-bar.active{
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: center;
        left: -46px;
        background-color: rgba(135, 207, 235, 0.489);
    }

    .galerie-title{
        font-size: 3em;
    }

    .boxes{
        display: flex;
        flex-direction: column;
    }

    .first-row, .second-row, .third-row{
        flex-direction: column;
    }

    video{
        width: 300px;
        border-radius: 30px;
        border: none;
    }

    .footer-1{
        flex-direction: column;
    }

    .menu{
        flex-direction: column;
    }

    .info {
        padding-top: 2em;
    }
}